/* ·······················   SCROLL BEHAVIOR ···················· */

html {
    scroll-behavior: smooth;
  }

/* ·······················   BODY ···················· */

body {
    
    font-family: 'Baloo 2', cursive;
}

/* ·······················   HEADER ···················· */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    background-color: rgb(16, 16, 65) !important;
}

#header img {
    width: 5rem;
    border-radius: 5px;
}


.navbar-brand {
    margin-left: 1rem;
}

.navbar-brand:hover {
    transform: scale(1.5,1.5);
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.navbar-nav {
    margin-right: 0.2rem;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-start;
}

.text-nav {
    color: rgb(31, 31, 134) !important; 
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar a {
    color: white !important;
}

.navbar a:hover {
   text-decoration: overline;
}

.navbar-icon-bars {
    color: white;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 2rem !important;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-icon-bars:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.fa-times {
    color: red;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 2rem !important;
}



a.dropdown-item {
    color:  rgb(16, 16, 65) !important;
    font-weight: 500;
}

hr.dropdown-divider {
    border-width: 2px;
}

.dropdown-menu {
    text-align: right;
}


/* ·······················   MAIN ···················· */

#main  .carousel-inner img {
  max-height: 90vh;
  object-fit: cover; 
  filter: grayscale(70%); 
}

#carousel {
    position: relative;
    top: 3.6rem;
    margin-bottom: 4rem;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}

.overlay {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.btn-honey1 {
    background-color: rgb(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border-color: white;
    color: white;
    border-width: 2px;
    font-weight: 600;
}

.btn-honey1:hover {
    background-color: rgb(255, 197, 71);
    color:  rgb(16, 16, 65);
    border-color:  rgb(255, 197, 71);

}

.btn-honey2 {
    background-color: rgb(255, 197, 71);
    border-color:rgb(16, 16, 65);
    color: rgb(16, 16, 65);
    border-width: 2px;
    font-weight: 600;
}

.btn-honey2:hover {
    background-color: rgb(16, 16, 65);
    color: rgb(255, 197, 71);
    border-color:  rgb(16, 16, 65);

}

/* ..................... SECTION ABOUT US.................*/

#about_us {
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: rgb(16, 16, 65);
    font-weight: bold;
}

#about_us p {
    font-size: 1.4rem;
    font-weight: 500;
}

#about_us img {
    max-width: 100%;
}

.about_us {
    background-color: rgb(253, 209, 143);
    display: flex;
    align-items: center;
}

.about_us h3 {
    text-decoration: underline;
    font-weight: 500;
}

.about_us p {
    font-weight: 400;
}

/* ..................... SECTION HONEYS CARD.................*/

#honey_products {
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: rgb(16, 16, 65);
    font-weight: bold;
}

.card {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(11, 11, 63);
    margin: 2rem 0.2rem 0 0.2rem;
}

.card img {
    border-radius: 10px 10px 0 0;
}

.card h5 {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

.card p {
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

/*........................   ABOUT US .................. */

#contact {
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: rgb(16, 16, 65);
    text-align: center;
    margin: 1rem;
}

#contact h2 {
    font-weight: bold;
}

#contact p {
    font-size: 1.4rem;
    font-weight: 500;
}

/* ·······················   CONTACT ···················· */

.contact {
    background-color: rgb(255, 183, 88);
    border-radius: 15px;
    padding: 1rem;
}

/* ·······················   FOOTER ···················· */

#footer {
    background-color: rgb(20, 20, 92);
    padding-top: 1.6rem;
    padding-bottom: 0;
    margin-top: 1rem;
}

.footer:hover {
    transform: scale(1.5,1.5);
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

#footer a {
    color: white;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

#footer a:hover {
    color: rgb(211, 255, 124);
}

#footer i:hover {
    color: rgb(211, 255, 124);
}

#footer1 {
    display: flex;
    padding: 0.2rem;
    align-items: center;
    justify-content: space-around;

}

#footer2 {
    background-color: rgb(16, 16, 65);
    margin-top: 1.6rem;
}

.fab {
    color: white;
    font-size: 1.4rem;
}

.fas {
    font-size: 1.4rem;
}

.footerparagraph {
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    font-family: Roboto, sans-serif;
}
