/* ·······················   SCROLL BEHAVIOR ···················· */

html {
    scroll-behavior: smooth;
  }

/* ·······················   HEADER ···················· */

#header img {
    width: 5rem;
}


.navbar-brand {
    margin-left: 1rem;
}

.navbar-brand:hover {
    transform: scale(1.5,1.5);
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.navbar-nav {
    margin-right: 9rem;
}

.text-nav {
    color: rgb(31, 31, 134) !important; 
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar a:hover {
   text-decoration: overline;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
}

.navbar-toggler {
    border-color: rgb(16, 16, 65) !important;
    border-width: 3px;
    border-radius: 15px;
}


/* ·······················   MAIN ···················· */

#main  .carousel-inner img {
  max-height: 90vh;
  object-fit: cover; 
  filter: grayscale(70%); 
}

#carousel {
    position: relative;
    top: 4.2rem;
    margin-bottom: 4.2rem;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}

.overlay {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}


/* ·······················   FOOTER ···················· */

#footer {
    background-color: rgb(20, 20, 92);
    padding-top: 1.6rem;
    padding-bottom: 0;
    margin-top: 1rem;
}

.footer:hover {
    transform: scale(1.5,1.5);
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

#footer a {
    color: white;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

#footer a:hover {
    color: rgb(211, 255, 124);
}

#footer i:hover {
    color: rgb(211, 255, 124);
}

#footer2 {
    background-color: rgb(16, 16, 65);
    margin-top: 1.6rem;
}

.fab {
    color: white;
    font-size: 1.6rem;
    margin: 1rem;
}

.fas {
    font-size: 1.6rem;
    margin: 1rem;
}

.footerparagraph {
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    font-family: Roboto, sans-serif;
}